body {
    font-family: 'Gill Sans', 'Gill Sans MT', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #333333; /* Dark background */
    color: #ffffff; /* White text for readability */
}

header, footer {
    padding: 10px;
    background-color: #222222;
    color: white;
    text-align: center; /* Center-align header and footer content */
}

nav ul {
    list-style-type: none;
    background-color: #222222;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center; /* Center navigation items */
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
}

nav ul li a:hover {
    background-color: #444444;
}

/* Center-align all section content */
section {
    padding: 20px;
    margin: auto; /* Auto margins for horizontal centering */
    max-width: 800px; /* Max width for the content */
    text-align: left; /* Align text to the left within the centered section */
}

/* Center-align all headings within sections */
section h1, section h2 {
    text-align: center;
}

/* Styling for all hyperlinks */
a {
    color: #4DD0E1; /* Bright
} 

.cv-link-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; /* You can adjust the height as needed */
}
