body {
    font-family: 'Gill Sans', 'Gill Sans MT', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #333333; /* Dark background */
    color: #ffffff; /* White text for readability */
}

header, footer {
    padding: 10px;
    background-color: #222222;
    color: white;
}

nav ul {
    list-style-type: none;
    background-color: #222222;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center; /* Center navigation items */
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
}

nav ul li a:hover {
    background-color: #444444;
}

section {
    padding: 20px;
    margin-bottom: 20px;
}

.intro-text {
    text-align: left; /* Aligns intro text to the left */
    max-width: 800px; /* Sets a max width for readability */
    margin: auto; /* Centers the text block */
}

/* Styling for all hyperlinks */
a {
    color: #4DD0E1; /* Bright cyan for links */
    text-decoration: none;
}

/* Bright yellow color on hover for hyperlinks */
a:hover {
    color: #FFEB3B; /* Bright yellow for hover effect */
}

/* Additional styling for footer */
footer {
    margin-top: 20px;
}
